


/*chat Chatforum starts here--------------------------------------------------*/
.ldposts{
    background-color: lightblue

}
.ldposts .post{
    position: relative;
    height: 400 px;
    width: 33%;
    float: left;
    margin: 0 auto;
    /*
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */
}
/*chat forum ends here--------------------------------------------------------*/


.hero-register{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-image: url("/static/images/midd_fall_hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-login{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/midd_fall_hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-content-login{
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.hero-content-register{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.body-block {
  grid-area: 2/2/3/3;
  width: 500px;
  padding: 2% 5% 5% 5%;
  border-radius: 8%;
  background-color: rgba(2, 0, 99, 0.6);
}

.form{
  text-align: center;
}

.h1-login{
  text-align: center;
  color: white;
}

.register{
  text-align: center;
  color: white;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    padding-right: 20px;
  }

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* style button */
.btn {
  padding: 10px 24px;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  background-color: #555;
.register-form {
  color: white;
}

.register-button:hover {
  background-color: #deebff;
}

.register-button {
  background-color: #afccfa;
  padding: 12px 24px;
  border-radius: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
