
{% extends "midd19/layout.html" %}
{% load static %}
{% block body %}
<style>
  ul{
    margin-bottom: 20px;
    list-style-type: none;
  }
  li{
    float: left;
    margin-right: 10px;
  }
</style>
<body>
  <div>
    <a class="btn" href="{%url 'post'%}">Post a Comment</a>
  </div>
  <div>
    <ul>
      {%for post in posts%}
      <li>
        <div class="container">
            <p>
              <a href="#"> {{post.title}} </a> <br>
              {{post.content}}<br><br>
              {{post.user.username}}
            </p>
          <span class="time-right">{{post.time}}</span>
        </div>
      </li>
      {%endfor%}
    </ul>
  </div>
</body>
{% endblock %}
