{% extends "midd19/layout.html" %}
{% load static %}
{% block body %}
	<head>
		<title>Restaurants in Town</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <!--jquery-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--bootsrap-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static '/styles.css' %}">
		<link rel="stylesheet" href="{% static 'styles/css/order.css' %}" />
        <noscript><link rel="stylesheet" href="{% static 'styles/css/noscript.css' %}"/></noscript>


    </head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">



        <!-- Main -->
                            <div id="style">
                                <div class="inner">
                                    <header>
                                        <h1> Order From Town</h1>
                                        <p>Stuff about Restaurants</p>
                                    </header>
                                    <section class="tiles">
                                        <article class="style1">
                                            <span class="image">
                                                <img src="{% static '/images/TINDIA.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://www.middleburymenus.com/taste_of_india.html">
                                                <h2>TASTE OF INDIA </h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-4856  </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style2">
                                            <span class="image">
                                                <img src="{% static '/images/OBC.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://www.ottercreekbakery.com/">
                                                <h2>OTTER CREEK BAKERY</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802)388-3371 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style3">
                                            <span class="image">
                                                <img src="{% static '/images/SBAI.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://sabaisabaithai.com/thai-menu.php">
                                                <h2>SBAI SBAI THAI CUISINE</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 989-7376 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style4">
                                            <span class="image">
                                                <img src="{% static '/images/TBT.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://twobrotherstavern.getbento.com/menus/">
                                                <h2>TWO BROTHERS TAVERN</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 3888-0002 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style5">
                                            <span class="image">
                                                <img src="{% static '/images/SHAFERS.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://www.shafersdeli.com/menus/">
                                                <h2>SHAFER'S MARKET & DELI</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-6408   </b></i></p>

                                                </div>
                                            </a>
                                        </article>
                                        <article class="style6">
                                            <span class="image">
                                                <img src="{% static '/images/AFB.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://americanflatbread.com/restaurants/middlebury-vt/middlebury-menu/">
                                                <h2>AMERICAN FLATBREAD- Middlebury</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-3300 </b></i></p>


                                                </div>
                                            </a>
                                        </article>
                                        <article class="style2">
                                            <span class="image">
                                                <img src="{% static '/images/arcadian.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://www.thearcadianvt.com/">
                                                <h2>The ARCADIAN</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 989-7026 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style3">
                                            <span class="image">
                                                <img src="{% static '/images/grapevine.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://grapevinegrillevt.com/?page_id=17">
                                                <h2>GRAPEVINE GRILLE</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 382-8646</b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style1">
                                            <span class="image">
                                                <img src="{% static '/images/madtaco.jpg' %}" alt="" />
                                            </span>
                                            <a href="https://www.themadtaco.com/middlebury">
                                                <h2>THE MAD TACO</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802)-382-9070 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style5">
                                            <span class="image">
                                                <img src="{% static '/images/magicwok.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://magicwokmiddlebury.com/catalog.aspx?cid=37">
                                                <h2>MAGIC WOK</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-0339 / 0355    </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style6">
                                            <span class="image">
                                                <img src="{% static '/images/Green_Peppers.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://www.greenpeppersrestaurant.com/">
                                                <h2>GREEN PEPPERS</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-3164 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                        <article class="style4">
                                            <span class="image">
                                                <img src="{% static '/images/marquis.jpg' %}" alt="" />
                                            </span>
                                            <a href="http://www.middleburymarquis.com/">
                                                <h2>Marquis Theater</h2>
                                                <div class="content">
                                                    <p><i> <b> Contact Info: (802) 388-4841 </b></i></p>
                                                </div>
                                            </a>
                                        </article>
                                    </section>
                                </div>
                            </div>

                <!-- Scripts -->
                    <script src="static/styles/js/jquery.min.js"></script>
                    <script src="static/styles/js/browser.min.js"></script>
                    <script src="static/styles/js/breakpoints.min.js"></script>
                    <script src="static/styles/js/util.js"></script>
                    <script src="static/styles/js/main.js"></script>

	</body>
{% endblock %}
