{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block heading %} {% endblock %}</title>

        <!--Bootstrap-->
        <link rel="stylesheet" href="{% static "styles/bootstrap_Midd19.css" %}" crossorigin="anonymous">
        <!--jquery-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!--bootsrap-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style media="screen"></style>

        <!--button-->
        <link rel="stylesheet" href="{% static "fontawesome-free-5.12.0-web/css/all.css" %}">

        {% load static %}
        <!--Style Sheet-->
        <link rel="stylesheet" href="{% static "styles/styles.css" %}">
    </head>
      <!-- Header of the  page-->
      <header class="sticky-top main-nav">
          <div class="row top-nav-row"   id="midd-title">
              <div class="midd-19-logo">
                  {% load static %}
                  <a class="nav-item nav-link" href="{% url 'index'%}">
                    <img src="{% static "images/MIDD-19.png" %}" alt="Midd19_logo" id="logo">
                  </a>
              </div>
                <h1 class="title">
                  Middlebury's Covid Resource Page
                </h1>

            <div class="login-logout-container">
                <p>Hello, {{user.username}}
                  <a href="{% url 'logout' %}">(Logout)</a>
                </p>
            </div>
          </div>

          <!--changes background of bar when the screen gets too small-->
          <div class="image-appear" id="midd-skyline">
            <div class="midd-19-logo">
                {% load static %} <!--make background clear-->
                <a class="nav-item nav-link" href="{% url 'index'%}">
                  <img src="{% static "images/MIDD-19.png" %}" alt="Midd19_logo" id="logo">
                </a>
            </div>
            <!--<img src="{% static "images/midd_skyline.jpg" %}" />-->
            <div class="logout">
              <a href="{% url 'logout' %}">(Logout)</a>
            </div>
            <div class="menu-button">
              <button class="nav-toggle">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          </div>

          <nav>
            <div class="nav-container nav-center">
                <div class="nav-tabs midd-nav">

                    <!--in case the num of navs changes, the styling need to change too. This should be written in js-->
                      <ul class="nav-ul links">
                        <li>
                          <a class="nav-item nav-link" href="#">News</a>
                        </li>
                        <li>
                          <a class="nav-item nav-link" href="#">Safety Protocol</a>
                        </li>
                        <li>
                          <a class="nav-item nav-link" href="{% url 'chatforum'%}">Chat Forum</a>
                        </li>
                        <li>
                          <a class="nav-item nav-link" href="#">Food Delivery</a>
                        </li>
                        <li>
                          <a class="nav-item nav-link" href="#">Gymnasium</a>
                        </li>
                        <li>
                          <a class="nav-item nav-link" href="#">FAQ</a>
                        </li>
                      </ul>
                    {% load static %}
                    <script src="{% static "JS/toggle_bar.js" %}"></script>
                </div>
            </div>
          </nav>
      </header>
    <body>
      {% block body %}
      {% endblock %}
    </body>
</html>
