{% extends "midd19/layout.html" %}
{% load static %}
{% block body %}
<p>
<h1><a href="{{p.get_absolute_url}}">User: {{user.username}}</a></h1>
<h1><a href="mailto:{{user.email}}">Email: {{user.email}}</a></h1>
</p>
<div class="row row-cols-1 row-cols-md-3 col-12">
    {% for p in posts %}
    <div class="col mb-4">
        <div class="card text-white bg-dark h-100  ">
            <div class="card-header d-flex flex-row" >
                <img src="{% static "images/MIDD-19.png" %}" class="rounded-circle mr-3" height="50px" width="50px" alt="user-image">
                <div>
                    <h4 class="card-title font-weight-bold mb-2">{{ p.title }}</h4>
                </div>
            </div>
            <div class="card-body" >
                <p class="card-text">{{ p.content }}</p>
                <a href="#" class="card-link">countinue reading</a>
            </div>
            <div class="card-footer " >
              <a href="{{p.get_absolute_url}}">{{ p.user }}</a>
              <span class="time-right">{{ p.time }}</span>
            </div>

        </div>
    </div>
    {% endfor %}

{% endblock %}
